In [1]:
#pip install ipython-sql

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:wzz990506@localhost/jingdong

In [4]:
%%sql 
show tables

 * mysql+pymysql://root:***@localhost/jingdong
6 rows affected.

[('class',), ('course',), ('grade',), ('school',), ('score',), ('student',)]

In [5]:
import numpy as np
import pandas as pd

In [27]:
%%sql 
SELECT * FROM course 
WHERE grade_id=1

 * mysql+pymysql://root:***@localhost/jingdong
3 rows affected.

[(1, 1, '数学', 100, 60), (2, 1, '语文', 100, 60), (3, 1, '英语', 100, 60)]

In [29]:
data=_
data

[(1, 1, '数学', 100, 60), (2, 1, '语文', 100, 60), (3, 1, '英语', 100, 60)]